USE [master]
GO
/****** Object:  Database [DbDemo]    Script Date: 1/10/2021 10:28:52 PM ******/
CREATE DATABASE [DbDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbDemo]
GO
/****** Object:  Table [dbo].[Bicycle]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bicycle](
	[BicycleID] [int] IDENTITY(1,1) NOT NULL,
	[BicycleModel] [nvarchar](50) NOT NULL,
	[BicycleColor] [varchar](50) NOT NULL,
	[BicyclePrice] [varchar](50) NOT NULL,
	[SectionID] [int] NOT NULL,
	[SpecialOfferID] [int] NULL,
 CONSTRAINT [PK_Bicycle] PRIMARY KEY CLUSTERED 
(
	[BicycleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientFullName] [varchar](50) NOT NULL,
	[ClientBirthDay] [varchar](50) NOT NULL,
	[ClientGander] [varchar](50) NOT NULL,
	[ClientCellphone] [nvarchar](50) NOT NULL,
	[ClientEmail] [nvarchar](50) NOT NULL,
	[ClientPassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeFullName] [varchar](50) NOT NULL,
	[EmployeeBirthDay] [varchar](50) NOT NULL,
	[EmployeeGander] [varchar](50) NOT NULL,
	[EmployeeCellphone] [nvarchar](50) NOT NULL,
	[EmployeeEmail] [nvarchar](50) NOT NULL,
	[EmployeePassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportDate] [varchar](50) NOT NULL,
	[ReportText] [varchar](max) NOT NULL,
	[SpecialOfferID] [int] NOT NULL,
	[ClientID] [int] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[SectionType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[SectionID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ShiftStartTime] [varchar](50) NOT NULL,
	[ShiftEndTime] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Special offer]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Special offer](
	[SpecialOfferID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountPercentage] [varchar](50) NOT NULL,
	[OfferExpirationDate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Special offer] PRIMARY KEY CLUSTERED 
(
	[SpecialOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tool]    Script Date: 1/10/2021 10:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tool](
	[ToolID] [int] IDENTITY(1,1) NOT NULL,
	[ToolModel] [nvarchar](50) NOT NULL,
	[ToolColor] [varchar](50) NOT NULL,
	[ToolPrice] [float] NOT NULL,
	[SectionID] [int] NOT NULL,
	[SpecialOfferID] [int] NOT NULL,
 CONSTRAINT [PK_Tool] PRIMARY KEY CLUSTERED 
(
	[ToolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bicycle]  WITH CHECK ADD  CONSTRAINT [FK_Bicycle_Section] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Bicycle] CHECK CONSTRAINT [FK_Bicycle_Section]
GO
ALTER TABLE [dbo].[Bicycle]  WITH CHECK ADD  CONSTRAINT [FK_Bicycle_Special offer] FOREIGN KEY([SpecialOfferID])
REFERENCES [dbo].[Special offer] ([SpecialOfferID])
GO
ALTER TABLE [dbo].[Bicycle] CHECK CONSTRAINT [FK_Bicycle_Special offer]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Client]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Special offer] FOREIGN KEY([SpecialOfferID])
REFERENCES [dbo].[Special offer] ([SpecialOfferID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Special offer]
GO
ALTER TABLE [dbo].[Tool]  WITH CHECK ADD  CONSTRAINT [FK_Tool_Section] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Section] ([SectionID])
GO
ALTER TABLE [dbo].[Tool] CHECK CONSTRAINT [FK_Tool_Section]
GO
ALTER TABLE [dbo].[Tool]  WITH CHECK ADD  CONSTRAINT [FK_Tool_Special offer] FOREIGN KEY([SpecialOfferID])
REFERENCES [dbo].[Special offer] ([SpecialOfferID])
GO
ALTER TABLE [dbo].[Tool] CHECK CONSTRAINT [FK_Tool_Special offer]
GO
USE [master]
GO
